body {
  background-color: rgb(24, 24, 32);
  margin: 0;
}
.name {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 36px;
}

#grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  border-style: solid;
  border-width: 2rem;
  border-radius: 1rem;
  border-color: red;
}

#grid > div {
  background-color: rgb(223, 223, 223);
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

button {
  width: 200px;
  height: 40px;
  border-radius: 1rem;
  border-style: none;
  font-size: 24px;
}

.button-hover-effect:hover {
  background-color: gray;
}



