body {
  background-color: #19112f;
  margin: 0;
}

.name {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 36px;
}

.input-field {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  height: 30px;
  font-size: 24px;
}

input {
  width: 100px;
}

#grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  border-style: solid;
  border-width: 2rem;
  border-radius: 1rem;
  border-color: rgb(82, 59, 230);
}

#grid > div {
  background-color: rgb(223, 223, 223);
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 4rem;
}

button {
  height: 40px;
  border-radius: 1rem;
  border-style: none;
  font-size: 24px;
}

.btn-reset {
  width: 150px;
}

.btn-grid-size {
  width: 250px;

}

.btn-hover-effect:hover {
  background-color: gray;
}




